<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Controller Model CYLearnEnglish.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6ACDB0651CBF8F700057F2F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ACDB0811CBF8F700057F2F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ACDB08C1CBF8F700057F2F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
